<div>

	<ul class="menu_icons">
		<li><a href = "#"><img src ="assets/images/icons/opera_100.png" alt ="opera" width = "50"></a></li>
		<li><a href = "#"><img src ="assets/images/icons/camino_100.png" alt ="camino" width = "50"></a></li>
		<li><a href = "#"><img src ="assets/images/icons/chrome_100.png" alt ="chrome" width = "50"></a></li>
		<li><a href = "#"><img src ="assets/images/icons/ff_100.png" alt ="firefox" width = "50"></a></li>
		<li><a href = "#"><img src ="assets/images/icons/flock_100.png" alt ="flock" width = "50"></a></li>
		<li><a href = "#"><img src ="assets/images/icons/ie_100.png" alt ="internet explorer" width = "50"></a></li>
		<li><a href = "#"><img src ="assets/images/icons/konqueror_100.png" alt ="konqueror" width = "50"></a></li>
		<li><a href = "#"><img src ="assets/images/icons/safari_100.png" alt ="safari" width = "50"></a></li>
	</ul>
</div>
