<article>
  <img src="assets/images/earth1.jpg" id="earth" alt="Exemple" />

  <p>Eodem tempore Serenianus ex duce, cuius ignavia populatam in Phoenice Celsen ante rettulimus, pulsatae maiestatis imperii
    reus iure postulatus ac lege, incertum qua potuit suffragatione absolvi, aperte convictus familiarem suum cum pileo,
    quo caput operiebat, incantato vetitis artibus ad templum misisse fatidicum, quaeritatum expresse an ei firmum portenderetur
    imperium, ut cupiebat, et cunctum. Latius iam disseminata licentia onerosus bonis omnibus Caesar nullum post haec adhibens
    modum orientis latera cuncta vexabat nec honoratis parcens nec urbium primatibus nec plebeiis. Quod cum ita sit, paucae
    domus studiorum seriis cultibus antea celebratae nunc ludibriis ignaviae torpentis exundant, vocali sonu, perflabili
    tinnitu fidium resultantes. denique pro philosopho cantor et in locum oratoris doctor artium ludicrarum accitur et bybliothecis
    sepulcrorum ritu in perpetuum clausis organa fabricantur hydraulica, et lyrae ad speciem carpentorum ingentes tibiaeque
    et histrionici gestus instrumenta non levia. Quare talis improborum consensio non modo excusatione amicitiae tegenda
    non est sed potius supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem sequi;
    quod quidem, ut res ire coepit, haud scio an aliquando futurum sit. Mihi autem non minori curae est, qualis res publica
    post mortem meam futura, quam qualis hodie sit.
  </p>
 
  
</article>


