<div *ngIf="volcanSelected!=null">
  <app-volcan-detail [volcanDetail]="volcanSelected"></app-volcan-detail>
</div>

<div id="search">
<b>Rechercher un volcan dans la liste : </b><br>
<app-search></app-search> 
</div>

<ul *ngFor="let v of list">
  <li> <a [routerLink]= "['/volcan', v.id]"> {{v.name}}</a> : <a [routerLink]= "['/map', v.latitude, v.longitude]"> Voir sur la carte</a></li>
  
   <!--
  <button (click)="editVolcan(v.id)">Editer volcan</button>
  <button (click)="selected(v)">Detail</button>
  -->  
</ul>

<div id="ajout">
<input id="first" [(ngModel)]=volcan.name placeholder="Name :" />
<br>
<input [(ngModel)]=volcan.location placeholder="Localisation :" />
<br>
<!-- <input [(ngModel)]=volcan.type placeholder="Type :" />
<br>
<input [(ngModel)]=volcan.origin placeholder="Origine :" />
<br> -->
<input [(ngModel)]=volcan.funFact placeholder="Lol :" />
<br>
<input [(ngModel)]=volcan.lastEruption placeholder="Dernière éruption :" />
<br>
<input [(ngModel)]=volcan.latitude placeholder="Latitude :" />
<br>
<input id="last" [(ngModel)]=volcan.longitude placeholder="Longitude :" />
<br>
<button (click)="addVolcan()" *ngIf="!edit">Ajouter un volcan</button>
<button (click)="editOver()" *ngIf="edit">Soumettre le volcan</button>

</div>