body {
	background-color : #ccc;
	color : #181818;
	
}

/**********MENU************/

#menu {
    background : #888888;
	display : flex;
	width: 450px;
	border-radius : 15px;
}


#logoMenu {
	display : block;
	flex-direction : row;
	border-radius : 15px;
}

#menu_vertical {
	font-family: 'Hammersmith One', sans-serif;
	font-weight : normal;
	text-transform : uppercase;
}

nav ul{
	list-style-type: none;
	background-color: #888888;
}

nav li{
    margin-right: 15px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover {
    color: #760001;
    
}


