<div id='enTete'>
  <img src="assets/images/logo-volcan-vintage.jpg" id="logo" alt="logo-volcan-vintage" />
  <h1>VOLCANICO</h1>
  <br>
</div>
<div id='volcanMenu'>
  <ul>
    <li>
      <a routerLink="" routerLinkActive="active">Home</a>
    </li>
    <li class='active has-sub'>
      <a routerLink="map" routerLinkActive="active">Map</a>
    </li>
    <li class='last'>
      <a routerLink="volcans" routerLinkActive="active">Listes de volcans</a>
    </li>
    <li>
      <a routerLink="about" routerLinkActive="active">About</a>
    </li>
    <li>
      <app-search></app-search>
      
    </li>
  </ul>
</div>