<!---->
<ul *ngFor="let v of volcans">
  <li>{{v.name|uppercase}}</li>
  <li>{{v.location}}</li>
  <li>{{v.type}}</li>
  <button (click)= "editVolcan(v.id)">Editer volcan</button>
  
</ul>

<input [(ngModel)]=volcan.name placeholder="Name :"/>
<br>
<input [(ngModel)]=volcan.location placeholder="Localisation :"/>
<br>
<input [(ngModel)]=volcan.type placeholder="Type :"/>
<br>
<button (click)="addVolcan()" *ngIf="!edit">Ajouter un volcan</button>
<button (click)="editOver()" *ngIf="edit">Soumettre le volcan</button>
